.div-content-homepage {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  .content-first {
    width: 100%;
    height: 25%;
    display: flex;
    gap: 25px;
    .content-first__left {
      border-radius: 10px;
      width: 70%;
      height: 100%;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      border: 1px solid #bdbdbd;
      position: relative;
      .ant-carousel {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        .slick-slider {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          .slick-list {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            .slick-track {
              width: 100%;
              height: 100%;
              border-radius: 10px;
              .div-img-content {
                width: 100%;
                height: 100%;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
    .content-first__right {
      width: 30%;
      height: 100%;
      border: 1px solid #bdbdbd;
      border-radius: 10px;
      position: relative;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        border-radius: 10px;
      }
    }
  }
  .content-second {
    width: 100%;
    height: 8%;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .content-second__item {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      span {
        font-size: 30px;
        color: #0060ff;
      }
      .title {
        font-size: 22px;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 500;
      }
    }
  }
  .content-three {
    width: 100%;
    height: 70%;
    border: 1px solid black;
  }
}
