.login-container {
  width: 100%;
  height: 100vh;
  background-color: #f5f6fa;
}
.div-login {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: white !important;
  border-radius: 2%;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
  .title {
    font-size: 25px;
    padding: 10px;
    font-weight: 600;
  }
  .ant-input {
    width: 400px;
  }
  .ant-input-affix-wrapper {
    width: 400px;
  }
  #basic {
    gap: 10px;
    display: flex;
    flex-direction: column;

    label {
      font-size: 16px;
    }
    .ant-form-item-explain-error {
      font-size: 14px;
    }
    .ant-btn {
      width: 400px;
    }
  }
  .div-Or {
    width: 100%;
    height: 1px;
    background-color: #bdbdbd;
    position: relative;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0px 10px;
      background-color: white;
      font-size: 16px;
    }
  }
  .login-footer {
    font-size: 15px;
    padding: 20px 0px 10px 0px;
    span {
      color: #1677ff;
      cursor: pointer;
    }
  }
}
