.register-container {
  width: 100%;
  height: 100vh;
  background-color: #f5f6fa;
}
.div-register {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: white !important;
  border-radius: 2%;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
  .title {
    font-size: 25px;
    padding: 5px;
    font-weight: 600;
    margin-top: -10px;
  }
  .ant-input {
    width: 400px;
    height: 100%;
  }
  .ant-input-affix-wrapper {
    width: 400px;
  }
  #basic {
    display: flex;
    flex-direction: column;

    label {
      font-size: 16px;
    }
    .ant-form-item-explain-error {
      font-size: 14px;
    }
    .ant-btn {
      width: 400px;
    }
    .ant-form-item {
      margin-bottom: 15px;
    }
  }
  .div-Or {
    width: 100%;
    height: 1px;
    background-color: #bdbdbd;
    position: relative;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0px 10px;
      background-color: white;
      font-size: 15px;
    }
  }
  .register-footer {
    font-size: 15px;
    padding: 10px 0px 10px 0px;
    span {
      color: #1677ff;
      cursor: pointer;
    }
  }
}
@media only screen and (max-width: 523px) {
  .register-container {
    width: 100%;
    height: 100vh;
    background-color: #f5f6fa;
  }
  .div-register {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: white !important;
    border-radius: 2%;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
    .title {
      font-size: 20px;
      padding: 5px;
      font-weight: 600;
      margin-top: -10px;
    }
    .ant-input {
      width: 300px;
      height: 100%;
    }
    .ant-input-affix-wrapper {
      width: 300px;
    }
    #basic {
      display: flex;
      flex-direction: column;

      label {
        font-size: 16px;
      }
      .ant-form-item-explain-error {
        font-size: 14px;
      }
      .ant-btn {
        width: 300px;
      }
      .ant-form-item {
        margin-bottom: 15px;
      }
    }
    .div-Or {
      width: 100%;
      height: 1px;
      background-color: #bdbdbd;
      position: relative;
      margin: 5px 0px;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0px 10px;
        background-color: white;
        font-size: 15px;
      }
    }
    .register-footer {
      font-size: 15px;
      padding: 10px 0px 10px 0px;
      span {
        color: #1677ff;
        cursor: pointer;
      }
    }
  }
}
