.div-sidebar {
  border: 1px solid #bdbdbd;
  border-radius: 20px;
  width: 20%;
  height: 100vh;
  .title_Sidebar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0px 20px 30px;
  }
  .ant-menu {
    border-radius: 20px;
    .ant-menu-item {
      height: 40px;
      .anticon {
        font-size: 15px;
      }
      .ant-menu-title-content {
        font-size: 15px;
      }
    }
  }
}
